/* Starfield.module.css */

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: var(--background-color);
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  