.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: var(--starfield-bg-color);
  color: var(--star-color);  
}

[data-theme='dark'] .wrapper {
  background-color: var(--starfield-bg-color); /* Use the same variable for dark mode */
  color: var(--star-color); /* Use the same variable for dark mode */
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
